/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

h2 {
    font-size: 22px;
    margin: 0;
}

h3 {
    font-size: 16px;
}

p {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

header {
    height: 79px;
}

.LogoBooki {
    height: 19px;
    padding: 30px 50px 30px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
}

.liste-header {
    display: flex;
    gap: 68px;
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-recherche {
    display: flex;
}

.formulaire {
    display: flex;
    align-items: center; 
    overflow: hidden;
    width: fit-content;
}

.fa-solid.fa-location-dot {
    color: black;
    background-color: #F2F2F2;
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.ville {
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px;

}

.recherche {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 16px 15px 16px;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
    height: 49px;
}

.fa-solid.fa-magnifying-glass {
    display: none;
}

.recherche-loupe {
    display: none;
}

.filtre {
    flex-direction: row;
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.filtre .responsive {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 15px;
}

.groupe-checkbox {
    font-weight: 700;
}

.groupe-checkbox label {
    border: 2px solid #d9d9d9;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 25px;
    gap: 10px;
    padding: 4px 19px 4px 19px;
    height: 35px;
}

.groupe-checkbox input[type="checkbox"] {
    /*appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;*/
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
}

.groupe-checkbox label:hover {
  background-color: #deebff;
}

.groupe-checkbox input[type="checkbox"]:checked + label {
    background-color: #DEEBFF;
}

.phrase {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-solid.fa-info {
    border: 1px solid #d9d9d9;
    border-radius: 9999px;
    padding: 10px 10px;
    height: 5px;
    align-items: center;
    display: flex;
}

.gap {
    gap: 35px;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    gap: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-card img {
    width: 100%;
    height: 114px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.hebergements-card .card-content {
    display: grid;
    gap: 4px;
    padding-left: 15px;
    padding-bottom: 15px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********Activites********/

#Activité {
  display: grid;
  gap: 30px;
  padding: 30px;
}

.activites-card img {
    width: 100%;
    height: 80%;
    flex-shrink: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.activites-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.activites-card .card {
    width: 100%; 
    height: 439px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    padding: 0;
}

.activites-card .card .card-title {
    flex-grow: 1; 
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

/*************Footer*************/

.footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #F2F2F2;
}

.title-footer {
    padding-left: 40px;
}

.footer ul {
  list-style: none;
}

.footer div {
  padding: 20px;
}

.liste-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}








/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


@media (min-width: 1024px) {

    body {
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav a { 
        padding-top: 15px;
}

    nav a:hover {
        border-top: 2px solid #0065FC;
        color: #0065FC;
}

}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 767.98px) {



    .responsive {
        display: flex;
    }

    nav a { 
        padding-top: 15px;
}

    nav a:hover {
        border-top: 2px solid #0065FC;
        color: #0065FC;
}

    .filtre {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 0;
        gap: 15px;
    }

    .filtre .responsive {
        gap: 15px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        margin-top: 0;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card img {
        height: 200px;
    }

    .activites-card .card {
        height: 290px;
    }

    .activites-card a {
        height: 290px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
       /* * {
        max-width: 100%;
    }*/
    
    body {
        overflow-x: hidden;
        padding: 0;
    }
    
    .main-container {
        max-width: 767.98px;
        width: 100%;
        padding: 0;
        overflow-x: hidden;
        min-width: 320px;
    }

    header {
        height: 115px;
        width: 100%;
    }
    
    nav {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    nav a:hover {
        border-bottom: 1px solid #0065FC;
        color: #0065FC;
    }

    .liste-header {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 0;
    }

    .liste-header li {
        width: 100%;
        flex: 1;
        text-align: center;
    }

    .liste-header a {
        display: block;
        text-decoration: none;
        width: 100%;
        color: black;
        padding: 10px 0;
        border-bottom: 1px solid #F2F2F2;
    }

    .liste-header a span {
        width: 100%;
        display: block;
        padding-bottom: 15px;
        position: relative;
    }

    .LogoBooki {
        padding: 30px;
    }
    
    .info {
        padding-right: 20px;
        padding-left: 20px;
    }

    .recherche {
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        display: inline;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 15px 16px 15px 16px;
        font-weight: bold;
        border-radius: 15px;
        font-size: 18px;
        height: 49px;
    }

    .recherche-loupe {
        display: inline;
        border: none;
        background: white;
        padding: 0;
    }

    .ville {
        padding: 0;
        width: 70%;
    }

    .filtre {
        display: flex;
        flex-direction: column;
    }

    .filtre .responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        height: auto;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires .populaires {
        display: grid;
        gap: 15px;
        padding: 30px 20px 30px 20px;
        margin: 0;
        width: 100%;
    }

     .hebergements-and-populaires .hebergements {
        background-color: rgb(255, 255, 255);
        padding: 20px;
        width: 100%;
    } 

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 33px;
    }

    .populaires-cards img  {
        width: 33%;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        padding-left: 0;
    }

    .hebergements-card {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hebergements-card a {
        height: 207px;
    }

    .hebergements-card .card-title {
        padding-left: 0;
    }

    .plus h3 {
        margin: 0;
    }

    .card h3 {
        margin: 0;
    }

    .activites-card {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .activites-card img {
        height: 141px;
    }

    .activites-card .card {
        height: 200px;
    }

    .activites-card a {
        height: 200px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }
}


